In this project, my goal was to be able to predict the performances of Triple Jumpers at the Atlantic 10 Indoor Conference. Using TFFRS.org I made a spreadsheet of previous years performances at the A10 Indoor Conference Meet. I used the 2017, 2018, 2019, 2020, and 2022 meets. I gathered the name and school, Place, Mark at Conference, and the athlete's previous 4 jumps from that indoor season. If there was any "No Mark's" or an athlete had not performed 4 times previous to the conference meet, a 0 was inserted for their jump.

I first imported pandas and all of the TSV files. I randomly selected 3 of the datasets to be training data, 1 dataset to be development data, and 1 dataset to be test data. 2022, 2020, and 2017 were selected to be training data, 2019 was selected to be the development set, and 2018 was selected to be the test set. All of my sources that I referred to are commented in the code where they were used.

In [ ]:
#Day 7 Lab
import pandas as pd
j2017 = pd.read_table('2017.tsv')
test = pd.read_table('2018.tsv')
dev = pd.read_table('2019.tsv')
j2020 = pd.read_table('2020.tsv')
j2022 = pd.read_table('2022.tsv')

#https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html
training = pd.concat([j2017, j2020, j2022])
training

                             Name  Jump1  Jump2  Jump3  Jump4  Place  ConfJump
0                 Raeshawn Bishop  14.64  15.04   0.00   0.00      1     15.03
1                       Jimi Tele  15.00  15.18  15.33  14.82      2     14.95
2                    Casey Burley  14.98  14.61   0.00   0.00      3     14.77
3          Abdul-Lateef Orulebaja  14.38  13.36  14.59  14.32      4     14.17
4                     Nigel Riley  14.22  13.59  13.91  14.43      5     14.04
5                   Racheed Davis  13.58  14.37  14.28  13.86      6     13.89
6                 Zakiyy Williams  14.00   0.00  13.88  13.74      7     13.84
7                   Deion Arneaud  13.71  14.25  13.68   0.00      8     13.68
0             Darian Alston - LAS  14.55  14.82  13.80   0.00      1     15.10
1              Ethan Erusha - SLU  14.44  14.45  14.34  14.15      2     14.92
2              Bashir Idris - VCU  14.33  14.80   0.00   0.00      3     14.65
3              Trevor Rooney - RI  14.90  14.46  13.60  14.35      4     14.41
4             Quindel Wilson - RI  12.89   0.00   0.00   0.00      5     13.92
5               Nik Reardon - FOR  13.63  14.18  13.11  13.56      6     13.88
6              Dylan Ameres - DAV  13.26  13.99  13.22  13.80      7     13.81
7          Samuel Darkwa Jr - UMA  12.44  12.49  12.90   0.00      8     13.75
0               Orion Joyner - RI  14.56  14.22   0.00  14.08      1     14.76
1               David Coles - VCU  14.62  14.21   0.00   0.00      2     14.44
2              Dylan Ameres - DAV  13.56   0.00  13.34  13.54      3     14.26
3       Mohamad Abdelrahman - VCU   0.00   0.00   0.00   0.00      4     14.09
4              Patrick Fehm - STJ  13.93  13.86  14.19  13.67      5     13.99
5            Jayden Kouadio - SLU  13.89  13.73  14.40  14.02      6     13.95
6          Evan Bruenderman - SLU  13.75  13.83  13.83  13.37      7     13.81
7               John Curtin - DAV  13.94   0.00   0.00   0.00      8     13.81

Here I concatanated the training data into one dataframe.

In [ ]:

ytrain=training.ConfJump
xtrain = training.drop(['Name','Place','ConfJump'], axis=1)
xtrain

   Jump1  Jump2  Jump3  Jump4
0  14.64  15.04   0.00   0.00
1  15.00  15.18  15.33  14.82
2  14.98  14.61   0.00   0.00
3  14.38  13.36  14.59  14.32
4  14.22  13.59  13.91  14.43
5  13.58  14.37  14.28  13.86
6  14.00   0.00  13.88  13.74
7  13.71  14.25  13.68   0.00
0  14.55  14.82  13.80   0.00
1  14.44  14.45  14.34  14.15
2  14.33  14.80   0.00   0.00
3  14.90  14.46  13.60  14.35
4  12.89   0.00   0.00   0.00
5  13.63  14.18  13.11  13.56
6  13.26  13.99  13.22  13.80
7  12.44  12.49  12.90   0.00
0  14.56  14.22   0.00  14.08
1  14.62  14.21   0.00   0.00
2  13.56   0.00  13.34  13.54
3   0.00   0.00   0.00   0.00
4  13.93  13.86  14.19  13.67
5  13.89  13.73  14.40  14.02
6  13.75  13.83  13.83  13.37
7  13.94   0.00   0.00   0.00

I then seperated my training data into two different dataframes. One is the predictors for the decision tree regressor and the other is the target for the decision tree regressor. The predictor dataframe is the 4 jumps previous to the conference meet and the target is the Conference Meet Jumps.

In [ ]:
#https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html

from sklearn.tree import DecisionTreeRegressor
final_model=DecisionTreeRegressor(max_leaf_nodes=30,random_state=0)
final_model.fit(xtrain,ytrain)
final_model.predict(xtrain)
fp=final_model.predict(xtrain)

I then imported the decision tree regressor from scikit learn. I fit the training data to the decision tree regressor.

I set the # of nodes on the decision tree regressor to what made the development set the best.

In [ ]:
training.join(pd.DataFrame(fp, columns = ['Predicted']))

,Name,Jump1,Jump2,Jump3,Jump4,Place,ConfJump,Predicted
0,Raeshawn Bishop,14.64,15.04,0.00,0.00,1,15.03,15.03
0,Darian Alston - LAS,14.55,14.82,13.80,0.00,1,15.10,15.03
0,Orion Joyner - RI,14.56,14.22,0.00,14.08,1,14.76,15.03
1,Jimi Tele,15.00,15.18,15.33,14.82,2,14.95,14.95
1,Ethan Erusha - SLU,14.44,14.45,14.34,14.15,2,14.92,14.95
1,David Coles - VCU,14.62,14.21,0.00,0.00,2,14.44,14.95
2,Casey Burley,14.98,14.61,0.00,0.00,3,14.77,14.77
2,Bashir Idris - VCU,14.33,14.80,0.00,0.00,3,14.65,14.77
2,Dylan Ameres - DAV,13.56,0.00,13.34,13.54,3,14.26,14.77
3,Abdul-Lateef Orulebaja,14.38,13.36,14.59,14.32,4,14.17,14.17
3,Trevor Rooney - RI,14.90,14.46,13.60,14.35,4,14.41,14.17
3,Mohamad Abdelrahman - VCU,0.00,0.00,0.00,0.00,4,14.09,14.17
4,Nigel Riley,14.22,13.59,13.91,14.43,5,14.04,14.04
4,Quindel Wilson - RI,12.89,0.00,0.00,0.00,5,13.92,14.04
4,Patrick Fehm - STJ,13.93,13.86,14.19,13.67,5,13.99,14.04
5,Racheed Davis,13.58,14.37,14.28,13.86,6,13.89,13.89
5,Nik Reardon - FOR,13.63,14.18,13.11,13.56,6,13.88,13.89
5,Jayden Kouadio - SLU,13.89,13.73,14.40,14.02,6,13.95,13.89
6,Zakiyy Williams,14.00,0.00,13.88,13.74,7,13.84,13.84
6,Dylan Ameres - DAV,13.26,13.99,13.22,13.80,7,13.81,13.84
6,Evan Bruenderman - SLU,13.75,13.83,13.83,13.37,7,13.81,13.84
7,Deion Arneaud,13.71,14.25,13.68,0.00,8,13.68,13.68
7,Samuel Darkwa Jr - UMA,12.44,12.49,12.90,0.00,8,13.75,13.68
7,John Curtin - DAV,13.94,0.00,0.00,0.00,8,13.81,13.68

I joined the output of the Decision Tree Regressor as a column called "Predicted".

In [ ]:

xdev = dev.drop(['Name','Place','ConfJump'], axis=1)


final_model.predict(xdev)
devresults=final_model.predict(xdev)
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html
dev.join(pd.DataFrame(devresults, columns = ['Predicted']))

,Name,Jump1,Jump2,Jump3,Jump4,Place,ConfJump,Predicted
0,Darian Alston - LAS,15.15,14.85,15.02,0.00,1,15.20,15.03
1,Bashir Idris - VCU,15.49,15.12,14.92,0.00,2,15.03,15.03
2,Ethan Erusha - SLU,14.32,13.74,13.60,14.04,3,14.62,14.17
3,Nathan Adeyemi - UMA,13.78,14.36,13.93,14.09,4,14.31,13.68
4,Nik Reardon - FOR,14.33,14.52,14.52,14.38,5,14.23,14.41
5,Samuel Darkwa Jr - UMA,13.09,12.82,12.73,13.19,6,13.40,13.75
6,Langston Stephens - DAV,0.00,12.69,12.34,12.54,7,13.05,14.09
7,Joseph Carter - RI,12.82,12.79,0.00,0.00,8,12.92,13.92

I then ran the model on the development set. I adjusted the number of nodes and reran the dataset to find the optimal number of nodes.

In [ ]:
xtest = test.drop(['Name','Place','ConfJump'], axis=1)


final_model.predict(xtest)
testresults=final_model.predict(xtest)
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html
testfinal =test.join(pd.DataFrame(testresults, columns = ['Predicted']))
testfinal

,Name,Jump1,Jump2,Jump3,Jump4,Place,ConfJump,Predicted
0,Casey Burley,15.34,14.71,14.32,0.00,1,15.24,14.77
1,Nigel Riley,14.46,14.22,14.34,13.74,2,14.46,14.76
2,Abdul-Lateef Orulebaja,14.30,14.01,13.88,13.87,3,14.07,14.17
3,Zakiyy Williams,13.82,14.46,14.00,13.71,4,13.92,13.68
4,Nathan Adeyemi,14.47,14.45,14.02,0.00,5,13.41,14.76
5,Devin Bethea,13.55,0.00,13.64,14.42,6,13.34,13.84
6,Brian Jackson,13.43,13.43,13.63,0.00,7,12.98,13.81
7,Ethan Erusha,13.44,13.03,13.11,13.58,8,12.87,14.26

After finding the optimal number of nodes using the development set, I predicted the test set with the model.

In [ ]:
pabsolutedifference = abs(testfinal['ConfJump'] - testfinal['Predicted'])
testfinal.join(pd.DataFrame(absolutedifference, columns = ['Absolute Difference']))

,Name,Jump1,Jump2,Jump3,Jump4,Place,ConfJump,Predicted,Absolute Difference
0,Casey Burley,15.34,14.71,14.32,0.00,1,15.24,14.77,0.47
1,Nigel Riley,14.46,14.22,14.34,13.74,2,14.46,14.76,0.30
2,Abdul-Lateef Orulebaja,14.30,14.01,13.88,13.87,3,14.07,14.17,0.10
3,Zakiyy Williams,13.82,14.46,14.00,13.71,4,13.92,13.68,0.24
4,Nathan Adeyemi,14.47,14.45,14.02,0.00,5,13.41,14.76,1.35
5,Devin Bethea,13.55,0.00,13.64,14.42,6,13.34,13.84,0.50
6,Brian Jackson,13.43,13.43,13.63,0.00,7,12.98,13.81,0.83
7,Ethan Erusha,13.44,13.03,13.11,13.58,8,12.87,14.26,1.39

The Regressor was able to predict 4/8 of the places correctly. The absolute difference column that I added helps show how much people may have under or overperformed compared to the rest of their indoor season. In Nathan Adeyemi's case, the regressor predicted him at a much higher place but he performed much worse compared to his other jumps that season. Because of this, his absolute difference is very high. In conclusion this model was able to somewhat accurately predict the outcome of the A10 Indoor Championship Triple Jump Final. However, it is not perfect as it could only guess 50% of the places correctly.